.heading {
    text-align: center;
    padding-top: 50px;
}

.heading-hr {
    position: relative;
    left: 46%;
    bottom: 13px;
    width: 130px;
    height: 4px;
    background-color: #FF7A20;
}

.img-border {
    margin-top: 50px;
}

.img-border img {
    padding: 10px;
    width: 50%;
    height: 230px;
}

.books_show {
    border-radius: 50px 0;
    background-color: #e9ecef;
}

.content {
    padding-bottom: 5px;
}

.authorName {
    color: #FF7F20;
}

.btn-bg {
    background: #4daf7c;
}

.featured_book_Page_heading {
    margin: auto;
    width: 50%;
}

.books-header {
    text-align: center;
}

.books-hover:hover {
    /* background-color: #FF7A20; */
    animation: zoom-in 1s ease alternate;
    transform: rotate(1, 1);
}

@keyframes zoom-in {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.09, 1.09);
    }

    100% {
        transform: scale(1, 1);
    }
}